.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  background: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 9999;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  padding: 0 2rem;
  max-width: 1600px;
}
.navbar-container:nth-child(2) {
  height: 50%;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: center;
  width: 100%;
  padding: 0 2rem;
  max-width: 1600px;
  border-top: var(--color-accent-border) solid 1px;
}

.navbar-logo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-base-content);
  text-decoration: none;
  cursor: pointer;
}

.navbar-container .navbar-menu {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
}

.navbar-container .navbar-menu li a {
  text-decoration: none;
  color: var(--color-base-content);
  font-size: 1.3rem;
  font-weight: 500;
  padding: 3px 20px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.7s ease;
  white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover {
  color: var(--color-accent-content);
  background: var(--color-accent);
  border: 2px solid var(--color-accent-border);
}

.navbar-container i {
  transition: all 0.7s ease;
  font-size: 3rem;
  color: var(--color-neutral);
}
.navbar-container i:hover {
  color: var(--color-accent-content);
}

/* Styling Buat Dropdown */
.dropdown {
  position: relative;
}

.dropdown-button {
  background: transparent;
  border: none;
  color: var(--color-base-content);
  font-size: 1.3rem;
  font-weight: 500;
  padding: 3px 20px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dropdown-button:hover {
  background: var(--color-accent);
  color: var(--color-accent-content);
}

.dropdown-button i {
  font-size: 2rem !important;
  transition: transform 0.3s ease;
}

.dropdown-button.active i {
  transform: rotate(180deg);
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  background: #fffffff1;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  z-index: 1001;
  margin-top: 0.5rem;
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.3s ease;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
}

.dropdown-content.open {
  grid-template-rows: 1fr;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-menu {
  min-height: 0;
  overflow: hidden;
  padding: 0;
  list-style: none;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu li a {
  display: block;
  padding: 0.75rem 1.5rem !important;
  color: var(--color-base-content);
  text-decoration: none;
  font-size: 0.9rem;
  transition: all 0.2s ease;
  border-radius: 0 !important;
  border: none !important;
}

.dropdown-menu li a:hover {
  background: var(--color-base-100) !important;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-form {
  display: flex;
  align-items: center;
  background-color: var(--color-base-200);
  border-radius: 10px;
  transition: all 0.2s ease, border 0.3s ease-in-out;
  width: 280px;
  border: 2px solid var(--color-base-300);
}

.search-form:focus-within {
  border: 2px solid var(--color-accent-border);
  box-shadow: 0 0 0 3px oklch(from var(--color-accent) l c h / 0.1);
}

.search-input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: none;
  background: transparent;
  color: var(--color-base-content);
  font-size: 1.2rem;
  outline: none;
}

.search-input::placeholder {
  color: oklch(from var(--color-base-content) l c h / 0.6);
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  background-color: var(--color-accent);
  color: var(--color-accent-content);
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
  width: 48px;
}

.search-button:hover {
  background-color: var(--color-accent-border);
}
.search-button:hover i {
  color: var(--color-neutral);
}

.search-button i {
  font-size: 2rem;
}

.navbar-toggle {
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: var(--color-base-content);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 899px) {
  .navbar {
    backdrop-filter: none;
    background-color: var(--color-base-200);
  }

  .navbar-container:nth-child(1) .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem !important;
    position: absolute;
    height: 100vh;
    width: 250px;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }

  .navbar-container .navbar-menu.active {
    display: flex;
  }

  .navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar-menu .search-container {
    order: -1;
  }

  .navbar-toggle {
    display: block;
    z-index: 999;
  }

  .navbar-container i {
    display: none;
  }
  .search-container {
    width: 100%;
  }

  .search-form {
    border: none;
  }

  .search-form:focus-within {
    border: 2px solid var(--color-accent-border);
    box-shadow: 0 0 0 3px oklch(from var(--color-accent) l c h / 0.1);
  }

  .search-input {
    flex-grow: 4;
    max-width: 150px;
  }

  .search-button {
    flex-grow: 1;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .search-button i {
    font-size: 2rem;
    display: block !important;
  }

  .dropdown-content {
    position: static;
    box-shadow: none;
    border: none;
    margin-top: 0;
    margin-left: 1rem;
    background: transparent;
    border-radius: 8px;
    text-align: start;
  }

  .dropdown-menu {
    gap: 1.2rem;
    display: flex;
    flex-direction: column;
  }

  .dropdown-menu li a {
    display: block;
    padding: 3px 20px !important;
    color: var(--color-base-content);
    text-decoration: none;
    font-size: 0.9rem;
    transition: all 0.2s ease;
    border-radius: 10px !important;
    border: 2px solid transparent !important;
  }

  .dropdown-menu li a:nth-child(1) {
    margin-top: 1.2rem;
  }

  .dropdown-menu li a:hover {
    color: var(--color-accent-content) !important;
    background: var(--color-accent) !important;
    border-color: var(--color-accent-border) !important;
  }

  .dropdown-button i {
    display: block !important;
    font-size: 2rem !important;
    transition: transform 0.3s ease;
  }

  .dropdown-button.active i {
    transform: rotate(180deg);
  }
}
